{% extends 'main/block.html' %}
{% load static %}

{% block title %} Главная страница {% endblock %}
{% block content %}

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Главная страница</h1>
    <p class="lead">Мечтаете запустить стартап? Не знаете, как оформить идею? Не знаете, какие есть риски? Stars+ отличный помощник. Наш проект нацелен на помощь начинающим стартаперам, которые хотят заниматься продажей товаров и оказанием услуг через интернет-сайты.
    <p class = "lead">На нашем сайте Вы можете найти ответы на правовые вопросы при запуске стартапа: выбор организационно-правовой формы, государственная регистрация, режимы налогообложения, трудовые и договорные отношения, создание сайта, информация о продукте. Вы – заполняете анкету, мы – предлагаем готовый вариант решения.</p></p>
    <p class="lead">Начните работу с небольшого опроса.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">Тестирование</a></div>

<div class = "points">
  <section class="py-6 bg-gray-100">

        <div class="row">

          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-shield-alt fas2"></i>
              </div>
              </a>
              <h3 class="h5">Государственная регистрация</h3>
              <p class="text-muted">Пакет документов, порядок и способы регистрации, защита прав при отказе в регистрации</p>
            </div>
          </div>

          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-hand-holding-usd fas2"></i>
              </div>
              </a>
              <h3 class="h5">Налоги</h3>
              <p class="text-muted">Системы налогообложения, их преимущества и недостатки, порядок уплаты налогов</p>
            </div>
          </div>

          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-hammer fas2"></i>
              </div>
              </a>
              <h3 class="h5">Трудовые отношения</h3>
              <p class="text-muted">Заключение, содержание и расторжение трудового договора, рекомендации работодателю</p>
            </div>
          </div>
         </div>
      </div>
    </section>

  <div class = "points">
  <section class="py-6 bg-gray-100">
        <div class="row">

          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-handshake fas2"></i>
              </div>
              </a>
              <h3 class="h5">Договорные отношения</h3>
              <p class="text-muted">Ключевые моменты заключения договора, правовые особенности часто используемых договоров</p>
            </div>
          </div>

           <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-laptop-code fas2"></i>
              </div>
              </a>
              <h3 class="h5">Создание сайта</h3>
              <p class="text-muted">Виды договоров на разработку сайта, регистрация прав на сайт и его наполнение, оформление отношений с пользователями сайта, способы правовой охраны сайта</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <div class = "points">
  <section class="py-6 bg-gray-100">
        <div class="row row3">

          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-business-time fas2"></i>
              </div>
              </a>
              <h3 class="h5">Ваш бизнес</h3>
              <p class="text-muted">Требования к товару/услуге, вопросы ответственности продавца и права потребителя</p>
            </div>
          </div>

          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <a href = "{% url 'about' %}">
              <div class="icon-rounded bg-primary-light mb-3">
                <i class="fas fa-balance-scale fas2"></i>
              </div>
              </a>
              <h3 class="h5">Правовая основа деятельности</h3>
              <p class="text-muted">Список нормативно-правовых актов, используемых в данной сфере</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
