{% extends 'main/block.html' %}

{% block title%}
    Налоги
{% endblock %}

{% block content%}
<body>
<main class="container1">

    <section class="py-6 bg-gray-100">
    <section><div class="mb-5 row">
        <div class="row">
            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">

                    <p class="my-2 text-muted text-sm">
                        <div class="box-top">
                  <div class="box-icon"><i class="fas fa-user-friends"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Налоги для ООО</h5>
                  </div><br>
                </div>

                    <nav role="navigation">
                          <ul>
                            <li><a href="#okno1.1">Налоги и страховые взносы с зарплаты работников</a></li>
                              <p> </p>
                            <li>Налоги в зависимости от выбранной системы налогообложения
                              <ul class="dropdown">
                                <li><a href="#okno1.2.1">Общая система налогообложения</a></li>
                                  <p> </p>
                                <li><a href="#okno1.2.2">Упрощенная система налогообложения</a></li>
                                  <p> </p>
                                <li><a href="#okno1.2.3">Единый сельскохозяйственный налог</a></li>
                              </ul>
                            </li>
                              <p> </p>
                            <li><a href="#okno1.3">Дополнительные налоги и платежи</a></li>
                          </ul>
                        </nav>
                    </p>
                </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">
                    <p class="my-2 text-muted text-sm">
                    <div class="box-top">
                  <div class="box-icon"><i class="fas fa-user-friends"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Налоги для ИП</h5>
                  </div><br>
                </div>

                            <nav role="navigation">
                              <ul>
                                <li><a href="#okno2.1">Фиксированные страховые взносы «за себя»</a></li>
                                  <p> </p>
                                <li><a href="#okno2.2">Налоги и страховые взносы с зарплаты работников</a></li>
                                  <p> </p>
                                <li>Налоги в зависимости от выбранной системы налогообложения
                                  <ul class="dropdown">
                                        <li><a href="#okno2.3.1">Общая система налогообложения</a></li>
                                        <p> </p>
                                        <li><a href="#okno2.3.2">Упрощенная система налогообложения</a></li>
                                        <p> </p>
                                        <li><a href="#okno2.3.3">Единый сельскохозяйственный налог</a></li>
                                        <p> </p>
                                        <li><a href="#okno2.3.4">Патентная система налогообложения</a></li>
                                        <p> </p>
                                        <li><a href="#okno2.3.5">Налог на профессиональный доход</a></li>
                                  </ul>
                                </li>
                                  <p> </p>
                                <li><a href="#okno1.3">Дополнительные налоги и платежи</a></li>
                              </ul>
                            </nav>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div>
                        <img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></div>
                </a><div class="card-body">
                        <p class="my-2 text-muted text-sm">
                    <div class="box-top">
                  <div class="box-icon"><i class="fas fa-user-friends"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Налоги для самозанятых</h5>
                  </div><br>
                </div>

                    <nav role="navigation">
                              <ul>
                                <li><a href="#okno2.3.5">Налоги в зависимости от выбранной системы налогообложения</a></li>
                                  <p> </p>
                              </ul>
                            </nav>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>

 <div id="okno1.1" class="oko" style="visibility:visible; opacity:1;">
        <div>

            <h3>Налоги и страховые взносы с зарплаты работников</h3>
            <p><p>Каждый работодатель обязан исчислять и удерживать налог на доходы физических лиц <b>(НДФЛ)</b> и платить страховые взносы за своих работников.</p>
            <p>Один раз по итогам каждого месяца (на следующий день после выплаты зарплаты) работодатель обязан перечислять НДФЛ в бюджет. Налоговая ставка для расчета НДФЛ составляет <em>13%</em>.</p>
            <p>Также доход сотрудника облагается <b>страховыми взносами</b>. Их платят в ФНС и ФСС (Фонд социального страхования). Отчисления за работников ООО делает не позднее <em>15</em> числа каждого месяца, исходя из размеров установленных тарифов.</p>
            <p>Платить взносы нужно по следующим <u>тарифам</u>:<br></p><ul>
            • На пенсионное страхование (ОПС) – <em>22%</em><br>
            • На социальное страхование (ОСС) – <em>2,9%</em><br>
            • На медицинское страхование (ОМС) – <em>5,1%</em></p>
        </ul>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <ul id="okno1.2.1" class="oko">
        <div>
        <p>
            <h3>Общая система налогообложения</h3>
            <p><br><b>Общая система налогообложения (ОСН)</b> – налоговый режим, который назначается автоматически (за исключением случаев когда вместе с документами на регистрацию было подано заявление
                о переходе на один из специальных режимов).<br>
            <p>Необходимо заплатить: </p>
            <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td class = 'd1'>Налог на прибыль организации</td>
                      <td>20%</td>
                      <td>Календарный год</td>
                 </tr>
                <tr>
                      <td class = 'd1'>НДС</td>
                      <td>0, 10, 20%</td>
                      <td>Квартал</td>
                </tr>
                <tr>
                      <td class = 'd1'>Налог на имущество организаций</td>
                      <td>До 2,2%</td>
                      <td>Календарный год</td>
                </tr>
            </table>
                    <p><u>Преимущества</u>:<br><ul type="square">
                        • Нет ограничений по сферам деятельности<br>
                        • Предусмотрена возможность вычета по НДС (это важно, если ваши   клиенты - крупные предприятия)<br>
                        • Можно открывать филиалы<br>
                        • Если прибыль отрицательная, можно не платить налог на прибыль<br>
                        • Можно совмещать с ПСН<br>
                    </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Выплаты больше, чем на специальных режимах налогооблажения<br>
                        • Сложная отчетность</p></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>


    <ul id="okno1.2.2" class="oko">
                <div>
                    <h3>Упрощенная система налогообложения</h3><br>
                    <p><b>Упрощенная система налогообложения (УСН)</b> – специальный налоговый режим. <p>
                        <p><u>Ограничения</u>:<ul>
                    • Количество сотрудников – не более <em>100</em> человек<br>
                    • Годовой доход – не более <em>150</em> млн руб<br>
                </ul></p>
                <p>Необходимо заплатить: </p>
                <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td class = 'd1'>УСН «Доходы» (налог с доходов, расходы при том не важны)</td>
                      <td>6%</td>
                      <td>Календарный год</td>
                 </tr>
                <tr>
                <td>ИЛИ</td>
                 </tr>
                <tr>
                <td class = 'd1'>УСН «Доходы минус расходы» (налог с доходов, уменьшенных на величину расходов)</td>
                      <td>15%</td>
                      <td>Календарный год</td>
                 </tr>
            </table>

                <p><b>Нововведение</b>: при годовом доходе от <em>150</em> до <em>200</em> млн рублей или численности работников от <em>100</em> до <em>130</em> человек ставки составят: <ul>
                    • Для УСН «Доходы» – <em>8</em>%<br>
                    • Для УСН «Доходы минус расходы» – <em>20</em>%.
                </p></ul>
                                <p><u>Преимущества</u>:<br><ul>
                                    • Можно выбрать вариант расчета налога<br>
                                    • Сдача декларации раз в год <br>
                                </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Есть сферы деятельности, для которых режим не применим <br>
                        • Ограничения по численности сотрудников и размеру дохода за год<br>
                        • Нельзя использовать режим, если у компании есть филиалы<br></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>


    <ul id="okno1.2.3" class="oko">
            <div>
                <h3>Единый сельскохозяйственный налог</h3><br>
                <p><b>ЕСХН</b> – специальный налоговый режим, который предназначен для сельскохозяйственных товаропроизводителей (кто производит, перерабатывает и продает сельхозпродукцию) и рыбохозяйственных предпринимателей. </p>
                <p><u>Ограничения</u>: Доход от сельскохозяйственной деятельности должен составлять больше <em>70%</em>.</p>
                <p>Необходимо заплатить: </p>
                <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td class = 'd1'>ЕСХН (Разница между полученными доходами и доказанными обоснованными расходами)</td>
                      <td>6%</td>
                      <td>Календарный год</td>
                 </tr>
            </table>

                <p><u>Преимущества</u>:<br><ul>
                    • Выгодная налоговая ставка<br>
                    • Предусмотрена возможность вычета по НДС (это важно, если ваши клиенты - крупные предприятия)<br>
	                • Сдача декларации раз в год</ul></p>

                <p><u>Недостатки</u>:<br><ul>
                    • Слишком ограниченная сфера деятельности<br></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>


    <div id="okno1.3" class="oko">
        <div>
            <h3>Дополнительные налоги и платежи</h3>
            <p><p>Осуществление некоторых видов деятельности подразумевает уплату <b>дополнительных налогов</b>. К ним относятся:<br><ul>
                • Налог за производство и реализацию подакцизных товаров<br>
                • Налог на добычу полезных ископаемых (НДПИ)<br>
                • Водный налог за использование водных объектов<br></ul></p>

                <p>Организации и ИП, имеющие специальные разрешения и лицензии, помимо дополнительных налогов должны также осуществлять:<br><ul>
                • Регулярные платежи за пользование недрами<br>
                • Сборы за пользование объектами животного мира<br>
                • Сборы за пользование объектами водных биологических ресурсов<br> </p>
                </ul>

        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <div id="okno2.1" class="oko">
        <div>
            <h3>Фиксированные страховые взносы «за себя»</h3>
            <p>Индивидуальный предприниматель должен уплачивать <b>страховые взносы «за себя» (фиксированные платежи)</b>
                при любой системе налогообложения.
            <p>В <em>2021</em> году общая сумма страховых взносов — <em>40 874</em> руб., из которых:<br><ul>
            • Платеж за Обязательное Пенсионное Страхование (ОПС) составит <em>32 448</em> руб.<br>
            • Платеж за Обязательное Медицинское Страхование (ОМС) составит <em>8 426</em> руб.<br></p>
            </ul>
            </p>

        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <div id="okno2.2" class="oko">
        <div>
            <p>
            <h3>Налоги и страховые взносы с зарплаты работников</h3>
                <p><br>ИП может нанимать работников, при этом он берет на себя дополнительные расходы:<br><ul>
            • Исчисляет и удерживает НДФЛ с доходов выплачиваемых своим сотрудникам. Один раз в месяц (на следующий день после выплаты заработной платы) индивидуальный предприниматель обязан перечислять НДФЛ по ставке <em>13</em>% в пользу налоговой инспекции.<br>
                    • Платит страховые взносы. Отчисления за работников платятся каждый месяц, исходя из размера тарифов страховых взносов, умноженных на заработные платы сотрудников<br></ul></p>
                    <p>В общих случаях, страховые взносы за работников состоят из:<br><ul>
                        • Выплат на обязательное пенсионное страхование  – <em>22</em>%<br>
                        • Выплат на обязательное социальное страхование  – <em>2,9</em>%<br>
                        • Выплат на обязательное медицинское страхование  – <em>5,1</em>%<br></ul>
                    </p>
                <p>С апреля 2020 года в качестве меры поддержки бизнеса в период глобального экономического кризиса ставки страховых взносов на выплаты работникам свыше МРОТ снижены вдвое.</p>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>


 <ul id="okno2.3.1" class="oko">
        <div>
        <p>
            <h3>Общая система налогообложения</h3>
            <p><br><b>Общая система налогообложения (ОСН)</b> – налоговый режим, который назначается автоматически (за исключением случаев, когда вместе с документами на регистрацию было подано заявление
                о переходе на один из специальных режимов).<br>
            <p>Необходимо заплатить: </p>
            <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td class = 'd1'>НДФЛ (на доходы физических лиц)</td>
                      <td>13, 15%</td>
                      <td>Календарный год</td>
                 </tr>
                <tr>
                      <td class = 'd1'>НДС</td>
                      <td>0, 10, 20%</td>
                      <td>Квартал</td>
                </tr>
                <tr>
                      <td class = 'd1'>Налог на имущество физического лица</td>
                      <td>2% от кадастровой стоимости</td>
                      <td>Календарный год</td>
                </tr>
            </table>
                    <p><u>Преимущества</u>:<br><ul type="square">
                        • Нет ограничений по сферам деятельности<br>
                        • Предусмотрена возможность вычета по НДС (это важно, если ваши   клиенты - крупные предприятия)<br>
                        • Можно открывать филиалы<br>
                        • Если прибыль отрицательная, можно не платить налог на прибыль<br>
                        • Можно совмещать с ПСН<br>
                    </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Выплаты больше, чем на специальных режимах налогооблажения<br>
                        • Сложная отчетность</p></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

   <ul id="okno2.3.2" class="oko">
                <div>
                    <h3>Упрощенная система налогообложения</h3><br>
                    <p><b>Упрощенная система налогообложения (УСН)</b> – специальный налоговый режим. <p>
                        <p><u>Ограничения</u>:<ul>
                    • Количество сотрудников – не более <em>100</em> человек<br>
                    • Годовой доход – не более <em>150</em> млн руб<br>
                </ul></p>
                <p>Необходимо заплатить: </p>
                <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td>УСН «Доходы» (налог с доходов, расходы при том не важны)</td>
                      <td>6%</td>
                      <td>Календарный год</td>
                 </tr>
                <tr>
                <td>ИЛИ</td>
                 </tr>
                <tr>
                <td>УСН «Доходы минус расходы» (налог с доходов, уменьшенных на величину расходов)</td>
                      <td>15%</td>
                      <td>Календарный год</td>
                 </tr>
            </table>

                <p><b>Нововведение</b>: при годовом доходе от <em>150</em> до <em>200</em> млн рублей или численности работников от <em>100</em> до <em>130</em> человек ставки составят: <ul>
                    • Для УСН «Доходы» – <em>8</em>%<br>
                    • Для УСН «Доходы минус расходы» – <em>20</em>%.
                </p></ul>
                                <p><u>Преимущества</u>:<br><ul>
                                    • Можно выбрать вариант расчета налога<br>
                                    • Сдача декларации раз в год <br>
                                </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Есть сферы деятельности, для которых режим не применим <br>
                        • Ограничения по численности сотрудников и размеру дохода за год<br>
                        • Нельзя использовать режим, если у компании есть филиалы<br></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

   <ul id="okno2.3.3" class="oko">
            <div>
                <h3>Единый сельскохозяйственный налог</h3><br>
                <p><b>ЕСХН</b> – специальный налоговый режим, который предназначен для сельскохозяйственных товаропроизводителей (кто производит, перерабатывает и продает сельхозпродукцию) и рыбохозяйственных предпринимателей. </p>
                <p><u>Ограничения</u>: Доход от сельскохозяйственной деятельности должен составлять больше <em>70%</em>.</p>
                <p>Необходимо заплатить: </p>
                <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td>ЕСХН (Разница между полученными доходами и доказанными обоснованными расходами)</td>
                      <td>6%</td>
                      <td>Календарный год</td>
                 </tr>
            </table>

                <p><u>Преимущества</u>:<br><ul>
                    • Выгодная налоговая ставка<br>
                    • Предусмотрена возможность вычета по НДС (это важно, если ваши клиенты - крупные предприятия)<br>
	                • Сдача декларации раз в год</ul></p>

                <p><u>Недостатки</u>:<br><ul>
                    • Слишком ограниченная сфера деятельности<br></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

    <ul id="okno2.3.4" class="oko">
                <div>
                    <h3>Патентная система налогообложения</h3><br>
                    <p><b>Патентная система налогообложения (ПСН)</b> – специальный налоговый режим, который могут применять только индивидуальные предприниматели.</p>
                    <p>Патент можно получить только на вид деятельности, указанный законе субъекта РФ, где планируется вести бизнес. Разрешение действует только на территории того муниципального образования,
                        где оно выдано, поэтому необходимо подавать заявление в ИФНС по месту действия патента.</p>
                    <p><u>Ограничения</u>:<ul>
                    • Количество сотрудников - не более <em>15</em> человек<br>
                    • Годовой доход – не более <em>60</em> млн руб<br>
                </ul></p>
                <p>Необходимо заплатить: </p>
                <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td>Уплата стоимости патента, основанная на размере потенциально возможного к получению годового дохода </td>
                      <td>6%</td>
                      <td>Зависит от срока действия патента, но не более календарного года</td>
                 </tr>
            </table>
                    <p>Оплата патента происходит следующим образом:<ul>
                        • Патент, выданный на срок до шести месяцев, надо оплатить в полном объеме не позднее срока окончания его действия<br>
                        • Если срок действия патента составляет от шести месяцев и до года, то одну треть его полной стоимости надо оплатить не позднее <em>90</em> дней после начала действия, а две трети - не позднее срока окончания действия патента<br>
                        • Приобрести патент можно на любой срок от <em>1</em> до <em>12</em> месяцев и в любой местности, где он действует</ul></p>

                    <p><u>Преимущества</u>:<br><ul>
                        • Патент можно совмещать с ОСН, УСН и ЕСХН<br>
                        • Можно приобрести несколько патентов<br>
                        • Если доход превышает предполагаемый размер, сумма налога не растёт вместе с ним<br>
                    	• Не нужно предоставлять налоговые декларации</ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Предусмотрен только для ИП<br>
                        • Ограничения по численности сотрудников и годовому доходу<br>
                        • Необходимо оплатить патент, даже если дохода нет</ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

   <ul id="okno2.3.5" class="oko">
                <div>
                    <h3>Налог на профессиональный доход</h3><br>
                    <p><b>Налог на профессиональный доход (НПД)</b> – специальный налоговый режим для самозанятых. <p>
                        <p><u>Ограничения</u>:<ul>
                    • Нельзя нанимать работников<br>
                    • Годовой доход – не более <em>2,4</em> млн руб<br>
                </ul></p>
                <p>Необходимо заплатить: </p>
                <table>
                <tr>
                  <th> </th>
                      <th>Налоговая ставка</th>
                      <th>Налоговый период</th>
                  </tr>
                 <tr>
                      <td>НПД (доход от реализации товаров/работ/услуг за исключением доходов, полученных по трудовому договору)</td>
                      <td>4% (если работает с физлицами) или 6% (если работает с юрлицами или ИП)</td>
                      <td>Календарный месяц</td>
                 </tr>
            </table>
                    <p><u>Преимущества</u>:<br><ul>
                        • Выгодная налоговая ставка<br>
                        • Не нужно вести налоговый учет<br>
                        • Не нужно предоставлять налоговые декларации
                                </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Нельзя нанимать сотрудников<br>
                        • Ограничения по годовому доходу<br></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>
{% endblock %}
</main>
</body>
