{% extends 'main/block.html' %}

{% block title%}
    Государственная регистрация
{% endblock %}

{% block content%}
<body style = "overflow-x: visible;">
<main class="container1">

    <section class="py-6 bg-gray-100">
    <section><div class="mb-5 row">
        <div class="row">
            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                            <img style="width:350px;display:block; align:center; height:200px; position:inherit;border-radius: 2%;" alt="" aria-hidden="true" role="presentation" src="/static/main/images/ooo.jpg">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">

                    <p class="my-2 text-muted text-sm">
                        <h3 class="card-title pricing-card-title">ООО</h3>

                    <nav role="navigation">
                                <ul>
                                    <li>Алгоритм осуществления процедуры государственной регистрации для ООО</p>
                                  <ul class="dropdown">
                                    <li><a href="#okno2.1">Шаг 1. Готовим документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 2. Подаем документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 3. Получаем ответ</a></li>
                                  </ul>
                                </li>
                              </ul>
                        </nav>
                    </p>
                </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                            <img style="width:350px;display:block;height:200px;border-radius: 2%;" alt="" aria-hidden="true" role="presentation" src="/static/main/images/startup.jpg">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">
                    <p class="my-2 text-muted text-sm">
                    <h3 class="card-title pricing-card-title">ИП</h3>

                            <nav role="navigation">
                                <ul>
                                    <li>Алгоритм осуществления процедуры государственной регистрации для ИП</p>
                                  <ul class="dropdown">
                                    <li><a href="#okno2.1">Шаг 1. Готовим документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 2. Подаем документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 3. Получаем ответ</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </nav>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                            <img style="width:350px;height:200px;display:block;border-radius: 2%;" alt="" aria-hidden="true" role="presentation" src="/static/main/images/self.jpg">
                        </div>
                        <img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></div>
                </a><div class="card-body">
                        <p class="my-2 text-muted text-sm">
                            <h3 class="card-title pricing-card-title">Самозанятые</h3>

                            <nav role="navigation">
                                <ul>
                                    <li><p>Для осуществления деятельности в качестве самозанятого государственная регистрация не требуется.</p> <p>Вам необходимо осуществить постановку на учет в Федеральную Налоговую Службу.</p>
                                  <ul class="dropdown">
                                    <li><a href="#okno7">Через ФНС лично</a></li>
                                      <p> </p>
                                    <li><a href="#">Упрощенная система налогообложения</a></li>
                                      <p> </p>
                                    <li><a href="#">Через приложение «Мой налог» налогоплательщика на сайте</a></li>
                                  </ul>
                                </li>

                              </ul>
                            </nav>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>

 <div id="okno1" class="oko" style="visibility:visible; opacity:1;">
        <div>

            <h3>Налоги и страховые взносы с зарплаты работников</h3>
            <p><p>Каждый работодатель обязан исчислять и удерживать налог на доходы физических лиц <b>(НДФЛ)</b> и платить страховые взносы за своих работников.</p>
            <p>Один раз по итогам каждого месяца (на следующий день после выплаты зарплаты) работодатель обязан перечислять НДФЛ в бюджет. Налоговая ставка для расчета НДФЛ составляет <em>13%</em>.</p>
            <p>Также доход сотрудника облагается <b>страховыми взносами</b>. Их платят в ФНС и ФСС (Фонд социального страхования). Отчисления за работников ООО делает не позднее <em>15</em> числа каждого месяца, исходя из размеров установленных тарифов.</p>
            <p>Платить взносы нужно по следующим <u>тарифам</u>:<br></p><ul>
            • На пенсионное страхование (ОПС) – <em>22%</em><br>
            • На социальное страхование (ОСС) – <em>2,9%</em><br>
            • На медицинское страхование (ОМС) – <em>5,1%</em></p>
        </ul>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <div id="okno3" class="oko">
<div>
            <h3>Дополнительные налоги и платежи</h3>
            <p><p>Осуществление некоторых видов деятельности подразумевает уплату <b>дополнительных налогов</b>. К ним относятся:<br><ul>
                • Налог за производство и реализацию подакцизных товаров<br>
                • Налог на добычу полезных ископаемых (НДПИ)<br>
                • Водный налог за использование водных объектов<br></ul></p>

                <p>Организации и ИП, имеющие специальные разрешения и лицензии, помимо дополнительных налогов должны также осуществлять:<br><ul>
                • Регулярные платежи за пользование недрами<br>
                • Сборы за пользование объектами животного мира<br>
                • Сборы за пользование объектами водных биологических ресурсов<br> </p>
                </ul>

        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <div id="okno4" class="oko">
        <div>
            <h3>Фиксированные страховые взносы «за себя»</h3>
            <p>Индивидуальный предприниматель должен уплачивать <b>страховые взносы «за себя» (фиксированные платежи)</b>
                при любой системе налогообложения.
            <p>В <em>2021</em> году общая сумма страховых взносов — <em>40 874</em> руб., из которых:<br><ul>
            • Платеж за Обязательное Пенсионное Страхование (ОПС) составит <em>32 448</em> руб.<br>
            • Платеж за Обязательное Медицинское Страхование (ОМС) составит <em>8 426</em> руб.<br></p>
            </ul>
            </p>

        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <div id="okno5" class="oko">
        <div>
            <h3>Налоги и страховые взносы с зарплаты работников</h3>
                <p><br>ИП может нанимать работников,  при этом он берет на себя дополнительные расходы:<br>
                    -  Исчисляет и удерживает НДФЛ с доходов выплачиваемых своим сотрудникам. Один раз в месяц (на следующий день после выплаты заработной платы) индивидуальный предприниматель обязан перечислять НДФЛ по ставке 13% в пользу налоговой инспекции.<br>
                    -  Платит страховые взносы. Отчисления за работников платятся каждый месяц, исходя из размера тарифов страховых взносов, умноженных на заработные платы сотрудников.<br>
                    <p>В общих случаях, страховые взносы за работников состоят из:<br>
                        выплат на обязательное пенсионное страхование  – 22%<br>
                        выплат на обязательное социальное страхование  – 2,9%<br>
                        выплат на обязательное медицинское страхование  – 5,1%<br></p>
                <p>С апреля 2020 года в качестве меры поддержки бизнеса в период глобального экономического кризиса ставки страховых взносов на выплаты работникам свыше МРОТ снижены вдвое.</p>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

    <ul id="okno2.1" class="oko">
        <div>
            <h3>Общая система налогообложения</h3>
            <p><br><b>Общая система налогообложения (ОСН)</b> – налоговый режим, который назначается автоматически (за исключением случаев когда вместе с документами на регистрацию было подано заявление
                о переходе на один из специальных режимов).<br>
                    <p><u>Преимущества</u>:<br><ul type="square">
                        • Нет ограничений по сферам деятельности<br>
                        • Предусмотрена возможность вычета по НДС (это важно, если ваши   клиенты - крупные предприятия)<br>
                        • Можно открывать филиалы<br>
                        • Если прибыль отрицательная, можно не платить налог на прибыль<br>
                        • Можно совмещать с ПСН<br>
                    </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Выплаты больше, чем на специальных режимах налогооблажения<br>
                        • Сложная отчетность</p></ul>

        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

        <ul id="okno2.2" class="oko">
            <div>
                    <h3>Упрощенная система налогообложения</h3><br>
                    <p><b>Упрощенная система налогообложения (УСН)</b> – специальный налоговый режим. <p>
                        <p><u>Ограничения</u>:<ul>
                    • Количество сотрудников – не более <em>100</em> человек<br>
                    • Годовой доход – не более <em>150</em> млн руб<br>
                </ul></p>

                <p><b>Нововведение</b>: при годовом доходе от <em>150</em> до <em>200</em> млн рублей или численности работников от <em>100</em> до <em>130</em> человек ставки составят: <ul>
                            • Для УСН «Доходы» – 8%<br>
                            • Для УСН «Доходы минус расходы» – 20%.
                </p></ul>
                                <p><u>Преимущества</u>:<br><ul>
                                    • Можно выбрать вариант расчета налога<br>
                                    • Сдача декларации раз в год <br>
                                </ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Есть сферы деятельности, для которых режим не применим <br>
                        • Ограничения по численности сотрудников и размеру дохода за год<br>
                        • Нельзя использовать режим, если у компании есть филиалы<br></ul>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

    <div id="okno7" class="oko">
        <div>
            <h3>Через ФНС лично</h3>
            <p><p>Подготавливаете следующие <b>документы</b>:<br><ul>
                        • Заявление <br>
                        • Паспорт<br>
                        • Фотография<br></ul>
            </p>
            <p> Далее идете в ФНС по месту жительства или по месту пребывания (если место жительства отсутствует) и подаете документы. </p>
        </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </div>

{% endblock %}
    </main>
</body>

