{% extends 'main/base.html' %}

{% block title%}
    Правовая основа деятельности
{% endblock %}

{% block content%}
<body>
<main class="container1">

        <div class = "row">
            <div class="mb-4 hover-animate col-sm-6 col-lg-4 py-7 row2">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">

                    <p class="my-2 text-muted text-sm">
                    <div class="box-top">
                  <div class="box-icon"><i class="fas fa-balance-scale fas1"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Правовая основа деятельности</h5>
                  </div><br>
                </div>

                    <nav role="navigation">
                                <ul>
                                    <a href="#okno1"><li>Кодексы и федеральные законы</a></li>
                              </ul>
                        </nav>
                    </p>
                </div>
                </div>
            </div>

    <ul id="okno1" class="oko">
        <div>
            <p>
                <h3>Кодексы и федеральные законы</h3><br>
            <table>
                <tr><td>Гражданский кодекс Российской Федерации (часть первая) от 30.11.1994 N 51-ФЗ (ред. от 09.03.2021)</td></tr>
                <tr><td>Гражданский кодекс Российской Федерации (часть вторая) от 26.01.1996 N 14-ФЗ (ред. от 09.03.2021)</td></tr>
                <tr><td>Гражданский кодекс Российской Федерации (часть четвертая) от 18.12.2006 N 230-ФЗ (ред. от 30.12.2020) (с изм. и доп., вступ. в силу с 17.01.2021)</td></tr>
                <tr><td>Налоговый кодекс Российской Федерации (часть первая) от 31.07.1998 N 146-ФЗ (ред. от 17.02.2021)</td></tr>
                <tr><td>Налоговый кодекс Российской Федерации (часть вторая) от 05.08.2000 N 117-ФЗ (ред. от 17.02.2021)</td></tr>
                <tr><td>Трудовой кодекс Российской Федерации от 30.12.2001 N 197-ФЗ (ред. от 09.03.2021)</td></tr>
                <tr><td>Федеральный закон от 08.02.1998 N 14-ФЗ (ред. от 31.07.2020, с изм. от 24.02.2021) "Об обществах с ограниченной ответственностью"</td></tr>
                <tr><td>Федеральный закон от 08.08.2001 N 129-ФЗ (ред. от 31.07.2020) "О государственной регистрации юридических лиц и индивидуальных предпринимателей" (с изм. и доп., вступ. в силу с 19.10.2020)</td></tr>
                <tr><td>Федеральный закон от 13.03.2006 N 38-ФЗ (ред. от 08.12.2020) "О рекламе" (с изм. и доп., вступ. в силу с 28.01.2021)</td></tr>
                <tr><td>Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных"  (с изм. и доп., вступ. в силу с 01.03.2021)</td></tr>
                <tr><td>Федеральный закон от 27.11.2018 N 422-ФЗ (ред. от 08.06.2020) "О проведении эксперимента по установлению специального налогового режима "Налог на профессиональный доход"</td></tr>
            </table>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

    </main>
</body>
{% endblock %}
