{% extends 'main/block.html' %}

{% block title%}
    Раздел 2
{% endblock %}

{% block content%}
    <div class="cont">
        <h1>Налоги</h1>
    </div>
    <section class="py-6 bg-gray-100">
    <section class="container"><div class="mb-5 row">
        <div class="row">
            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                            <img style="width:350px;display:block; align:center; height:200px; position:inherit;border-radius: 2%;" alt="" aria-hidden="true" role="presentation" src="/static/main/images/ooo.jpg">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">

                    <p class="my-2 text-muted text-sm">
                        <h2 class="card-title pricing-card-title">ООО</h2>

                    <nav role="navigation">
                          <ul>
                            <li><a href="#okno1">Налоги и страховые взносы с зарплаты работников</a></li>
                              <p> </p>
                            <li>Налоги в зависимости от выбранной системы налогообложения
                              <ul class="dropdown">
                                <li><a href="#">Общая система налогообложения</a></li>
                                  <p> </p>
                                <li><a href="#">Упрощенная система налогообложения</a></li>
                                  <p> </p>
                                <li><a href="#">Единый сельскохозяйственный налог</a></li>
                              </ul>
                            </li>
                              <p> </p>
                            <li><a href="#okno3">Дополнительные налоги и платежи</a></li>
                          </ul>
                        </nav>
                    </p>
                </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                            <img style="width:350px;display:block;height:200px;border-radius: 2%;" alt="" aria-hidden="true" role="presentation" src="/static/main/images/startup.jpg">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">
                    <p class="my-2 text-muted text-sm">
                    <h2 class="card-title pricing-card-title">ИП</h2>

                            <nav role="navigation">
                              <ul>
                                <li><a href="#okno4">Фиксированные страховые взносы «за себя»</a></li>
                                  <p> </p>
                                <li><a href="#okno5">Налоги и страховые взносы с зарплаты работников</a></li>
                                  <p> </p>
                                <li>Налоги в зависимости от выбранной системы налогообложения
                                  <ul class="dropdown">
                                        <li><a href="#">Общая система налогообложения</a></li>
                                        <p> </p>
                                        <li><a href="#">Упрощенная система налогообложения</a></li>
                                        <p> </p>
                                        <li><a href="#">Единый сельскохозяйственный налог</a></li>
                                        <p> </p>
                                        <li><a href="#">Патентная система налогообложения</a></li>
                                        <p> </p>
                                        <li><a href="#">Налог на профессиональный доход</a></li>
                                  </ul>
                                </li>
                                  <p> </p>
                                <li><a href="#okno3">Дополнительные налоги и платежи</a></li>
                              </ul>
                            </nav>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                            <img style="width:350px;height:200px;display:block;border-radius: 2%;" alt="" aria-hidden="true" role="presentation" src="/static/main/images/self.jpg">
                        </div>
                        <img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></div>
                </a><div class="card-body">
                        <p class="my-2 text-muted text-sm">
                            <h2 class="card-title pricing-card-title">Самозанятые</h2>

                    <nav role="navigation">
                              <ul>
                                <li><a href="#okno4">Налоги в зависимости от выбранной системы налогообложения</a></li>
                                  <p> </p>
                              </ul>
                            </nav>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <div id="okno1" class="oko" style="visibility:visible; opacity:1;">
        <div>
        <p>
            <h2>Налоги и страховые взносы с зарплаты работников</h2>
            <p><br>Каждый работодатель обязан исчислять и удерживать налог на доходы физических лиц (НДФЛ), платить страховые взносы за своих работников.<br>
            Один раз по итогам каждого месяца (на следующий день после выплаты зарплаты) работодатель обязан перечислять НДФЛ в бюджет. Налоговая ставка для расчета НДФЛ составляет 13%.<br>
            Также доход сотрудника облагается страховыми взносами. Их платят в ФНС и ФСС (Фонд социального страхования). Отчисления за работников ООО делает не позднее 15 числа каждого месяца, исходя из размеров установленных тарифов.<br>
            <p>Платить взносы нужно по следующим тарифам:<br>
            На пенсионное страхование (ОПС) – 22%<br>
            На социальное страхование (ОСС) – 2,9%<br>
            На медицинское страхование (ОМС) – 5,1%</p></p>
        </div>
        <a class="close-reveal-modal" href = "#"><h2>×</h2></a>
    </div>

    <div id="okno3" class="oko">
        <div>
            <h2>Дополнительные налоги и платежи</h2>
            <p><br>Осуществление некоторых видов деятельности подразумевает уплату дополнительных налогов. К ним относятся:<br>
                - Налог за производство и реализацию подакцизных товаров<br>
                - Налог на добычу полезных ископаемых (НДПИ)<br>
                - Водный налог за использование водных объектов<br>
                Организации и ИП, имеющие специальные разрешения и лицензии, помимо дополнительных налогов должны также осуществлять:<br>
                - Регулярные платежи за пользование недрами<br>
                - Сборы за пользование объектами животного мира<br>
                - Сборы за пользование объектами водных биологических ресурсов<br>
                </p>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h2>×</h2></a>
    </div>

    <div id="okno4" class="oko">
        <div>
            <h2>Фиксированные страховые взносы «за себя»</h2>
            <p><br>Индивидуальный предприниматель должен уплачивать страховые взносы «за себя» (фиксированные платежи)
                при любой системе налогообложения.<br>
                <p>В 2021 году общая сумма страховых взносов — 40 874 руб., из которых:<br>
            Платеж за Обязательное Пенсионное Страхование (ОПС) составит 32 448 руб.<br>
            Платеж за Обязательное Медицинское Страхование (ОМС) составит 8 426 руб.<br></p>
            </p>

        </div>
        <a class="close-reveal-modal" href = "#"><h2>×</h2></a>
    </div>

    <div id="okno5" class="oko">
        <div>
            <h2>Налоги и страховые взносы с зарплаты работников</h2>
                <p><br>ИП может нанимать работников,  при этом он берет на себя дополнительные расходы:<br>
                    -  Исчисляет и удерживает НДФЛ с доходов выплачиваемых своим сотрудникам. Один раз в месяц (на следующий день после выплаты заработной платы) индивидуальный предприниматель обязан перечислять НДФЛ по ставке 13% в пользу налоговой инспекции.<br>
                    -  Платит страховые взносы. Отчисления за работников платятся каждый месяц, исходя из размера тарифов страховых взносов, умноженных на заработные платы сотрудников.<br>
                    <p>В общих случаях, страховые взносы за работников состоят из:<br>
                        выплат на обязательное пенсионное страхование  – 22%<br>
                        выплат на обязательное социальное страхование  – 2,9%<br>
                        выплат на обязательное медицинское страхование  – 5,1%<br></p>
                <p>С апреля 2020 года в качестве меры поддержки бизнеса в период глобального экономического кризиса ставки страховых взносов на выплаты работникам свыше МРОТ снижены вдвое.</p>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h2>×</h2></a>
    </div>

    <div id="okno2.1" class="oko">
        <div>
            <h2>Общая система налогообложения</h2>
            <p><br>Общая система налогообложения (ОСН) – налоговый режим, который назначается автоматически (за исключением случаев когда вместе с документами на регистрацию было подано заявление
                о переходе на один из специальных режимов).<br>
                    Преимущества:<br>
                        Нет ограничений по сферам деятельности<br>
                        Предусмотрена возможность вычета по НДС (это важно, если ваши клиенты - крупные предприятия)<br>
                        Можно открывать филиалы<br>
                        Если прибыль отрицательная можно не платить налог на прибыль<br>
                        Можно совмещать с ПСН<br>

                        <p>Недостатки:<br>
                            Выплаты больше чем на специальных режимах налогооблажения<br>
                            Сложная отчетность</p>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h2>×</h2></a>
    </div>


    <div id="okno7" class="oko">
        <div>
            <h2>Налоги и страховые взносы с зарплаты работников</h2>
            <p><br>Осуществление некоторых видов деятельности подразумевает уплату дополнительных налогов. К ним относятся:<br>
                    - Налог за производство и реализацию подакцизных товаров<br>
                    - Налог на добычу полезных ископаемых (НДПИ)<br>
                    - Водный налог за использование водных объектов<br>
                    <p>Организации и ИП, имеющие специальные разрешения и лицензии, помимо дополнительных налогов должны также осуществлять:<br>
                    - Регулярные платежи за пользование недрами<br>
                    - Сборы за пользование объектами животного мира<br>
                    - Сборы за пользование объектами водных биологических ресурсов<br></p>
            </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h2>×</h2></a>
    </div>

{% endblock %}
