{% extends 'main/block.html' %}

{% block title%}
    Государственная регистрация
{% endblock %}

{% block content%}
<body>
<main class="container1">

    <section class="py-6 bg-gray-100">
    <section><div class="mb-5 row">
        <div class="row">
            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">

                    <p class="my-2 text-muted text-sm">
                    <div class="box-top">
                  <div class="box-icon"><i class="fas fa-user-friends"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Государственная регистрация для ООО</h5>
                  </div><br>
                </div>

                    <nav role="navigation">
                                <ul>
                                    <li>Алгоритм осуществления процедуры государственной регистрации для ООО</p>
                                  <ul class="dropdown">
                                    <li><a href="#okno1.1">Шаг 1. Готовим документы</a></li>
                                      <p> </p>
                                    <li><a href="#okno1.2">Шаг 2. Подаем документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 3. Получаем ответ</a></li>
                                  </ul>
                                </li>
                              </ul>
                        </nav>
                    </p>
                </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div><img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" sizes="(max-width:576px) 100vw, 350px" srcset="/_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fcontent%2Fimg%2Fphoto%2Fphoto-1467987506553-8f3916508521.jpg&amp;w=3840&amp;q=75 2x"></div>
                </a><div class="card-body">
                    <p class="my-2 text-muted text-sm">
                    <div class="box-top">
                  <div class="box-icon"><i class="fas fa-user-friends"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Государственная регистрация для ИП</h5>
                  </div><br>
                </div>

                            <nav role="navigation">
                                <ul>
                                    <li>Алгоритм осуществления процедуры государственной регистрации для ИП</p>
                                  <ul class="dropdown">
                                    <li><a href="#okno2.1">Шаг 1. Готовим документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 2. Подаем документы</a></li>
                                      <p> </p>
                                    <li><a href="#">Шаг 3. Получаем ответ</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </nav>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mb-4 hover-animate col-sm-6 col-lg-4">
                <div class="border-0 h-100 shadow card"><a class="">
                    <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%">
                        </div>
                        <img class="img-fluid card-img-top" style="visibility: visible; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></div>
                </a><div class="card-body">
                        <p class="my-2 text-muted text-sm">
                    <div class="box-top">
                  <div class="box-icon"><i class="fas fa-user-friends"></i></div><br>
                  <div class="box-header">
                      <h5 class="box-h5">Государственная регистрация для самозанятых</h5>
                  </div><br>
                </div>

                            <nav role="navigation">
                                <ul>
                                    <li><p>Не требуется. Вам необходимо осуществить постановку на учет в Федеральную Налоговую Службу.</p>
                                  <ul class="dropdown">
                                    <li><a href="#okno3.1">Через ФНС лично</a></li>
                                      <p> </p>
                                    <li><a href="#okno3.2">Через приложение «Мой налог» налогоплательщика на сайте</a></li>
                                      <p> </p>
                                    <li><a href="#okno3.3">Через личный кабинет налогоплательщика на сайте ФНС</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </nav>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>

        <ul id="okno3.1" class="oko">
            <div>
                <h3>Через ФНС лично</h3>
            <p><p>Подготавливаете следующие <b>документы</b>:<br><ul>
                        • Заявление <br>
                        • Паспорт<br>
                        • Фотография<br></ul>
            </p>
            <p> Далее идете в ФНС по месту жительства или по месту пребывания (если место жительства отсутствует) и подаете документы. </p>
                </p>
        </div>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

        <ul id="okno3.2" class="oko">
            <div>
                <p>
                <h3>Через приложение «Мой налог» налогоплательщика на сайте</h3>
                <p>Приложение доступно для скачивания в AppStore на IOS и в PlayMarket на Android.</p>
                        <p><u>Преимущества</u>:<br><ul>
                        • Занимает 10-15 минут Вашего времени<br></ul></p>

                        <p><u>Недостатки</u>:<br><ul>
                        • Приложение поддерживается ТОЛЬКО системой IOS (версия не ниже 9) или Android (версия не ниже 4.4)</ul><br></p>

                        <table>
                        <tr>
                          <th> </th>
                              <th>Через личный кабинет налогоплательщика</th>
                              <th>По паспорту</th>
                          </tr>
                         <tr>
                              <td class = 'd1'>Преимущества</td>
                              <td>• Вы можете осуществить постановку на учет с любого устройства</td>
                              <td>• Наличие личного кабинета налогоплательщика не обязательно<p></p>• Вам не потребуется ИНН</td>
                         </tr>
                        <tr>
                              <td class = 'd1'>Недостатки</td>
                              <td>•	У Вас должен быть зарегистрированный личный кабинет<p></p>• Вам потребуется Ваш ИНН и пароль от Вашего личного кабинета</td>
                              <td>• На Вашем устройстве должна быть камера</td>
                        </tr>
                        <tr>
                              <td class = 'd1'>Что нужно сделать?</td>
                                <td><b>1</b>.Вам необходимо указать номер телефона (Вы должны иметь доступ к устройству с сим-картой данного номера, т.к. на него Вам придет СМС-сообщение)
                                  <p></p>
                                  <b>2</b>.Выберите регион деятельности
                                  <p></p>
                                  <b>3</b>.Введите ИНН и пароль для входа в личный кабинет
                                  <p></p>
                                  <b>4</b>.Придумайте пин-код для дальнейшего входа
                              </td>
                              <td><b>1</b>.Вам необходимо указать номер телефона (Вы должны иметь доступ к устройству с сим-картой данного номера, т.к. на него Вам придет СМС-сообщение)
                                  <p></p>
                                  <b>2</b>.Выберите регион деятельности
                                  <p></p>
                                  <b>3</b>.Отсканируйте паспортные данные при помощи фотокамеры. Для этого поместите паспорт в контур на экране и нажмите кнопку «Распознать»
                                  <p></p>
                                  <b>4</b>.Проверьте отсканированные паспортные данные (Неточности можно исправить вручную)
                                  <p></p>
                                  <b>5</b>.Далее поднесите камеру устройства к Вашему лицу так, чтобы лицо попадало на экране в контур (Таким образом данные сверяются)
                                  <p></p>
                                  <b>6</b>.Подтвердите постановку на учет
                                  <p></p>
                                  <b>7</b>.Постановка на учет происходит в режиме онлайн (В отдельных случаях для постановки на учет может потребоваться до 6 дней) <br>
                                    </td>
                        </tr>
                    </table>
                </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

        <ul id="okno3.3" class="oko">
            <div>
                <p>
                <h3>Через личный кабинет налогоплательщика на сайте ФНС</h3>
                <p>Вы можете встать на учет в качестве самозанятого на сайте ФНС, перейдя по  <a href = 'https://lkfl2.nalog.ru/lkfl/login'>ссылке</a>. </p>
                        <p><u>Преимущества</u>:<br><ul>
                        • Занимает 10-15 минут Вашего времени<br>
                        • Не требует скачивания приложения
                        </ul></p>
                <p>ОБРАТИТЕ ВНИМАНИЕ! Необходимо иметь личный кабинет на Госуслугах или знать ИНН.</p>
                        <table>
                        <tr>
                              <th>По учетной записи «Госуслуг»</th>
                              <th>По Вашему ИНН</th>
                              <th>По электронной подписи </th>
                          </tr>
                         <tr>
                              <td><b><em>Преимущества</em></b>:<br>• Не требуется знание ИНН<br><b><em>Недостатки</em></b>:<br> •	При авторизации через «Госуслуги» регистрация происходит автоматически. Это значит, что если Вы  впервые входите в личный кабинет через «Госуслуги», после подтверждения своих данных и согласия с условиями регистрации вы сразу будете поставлены на учет</td>
                              <td><b><em>Преимущества</em></b>:<br>• Не требуется наличие учетной записи на портале «Госуслуги»</td>
                             <td><b><em>Что нужно сделать?</em></b><br>
                                    <b>1</b>.Необходимо заполнить в электронном виде заявление на подключение. Необходимые для идентификации реквизиты считываются с носителя ЭП и автоматически подгружаются в форму заявления. Вы можете заполнить дополнительные необязательные реквизиты «Номер телефона», «E-mail» вручную
                                    <p></p>
                                    <b>2</b>.Придумываете пароль
                              </td>
                         </tr>
                    </table>
                </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>

    <ul id="okno1.2" class="oko">
        <div>
            <p>
                <h3>Подаем документы</h3><br>
                    <table>
                        <tr>
                              <th colspan="3">Лично или через представителя (Представителю необходимо иметь нотариально удостоверенную доверенность)</th>
                              <th rowspan="2">Через нотариуса</th>
                              <th rowspan="3">Через сайт ФНС при помощи <a href = 'https://service.nalog.ru/regin/'>специальной программы </a></th>
                        </tr>
                        <tr>
                              <td>Через ФНС нарочно или путем направления электронных документов</td>
                              <td>Через МФЦ нарочно или путем направления электронных документов</td>
                              <td>Почтовым отправлением</td>
                        </tr>
                        <tr>
                              <td colspan="2">• К пакету документов (см.выше) прикладывается копия доверенности представителя<p></p>• При направлении электронных документов:<p></p> o	Через портал «Госуслуги»<br> o	Необходимо подписание усиленной электронной квалифицированной подписью<p></p> •При личной подаче документов, документы подаются в Налоговую инспекцию по Вашему местонахождению или месту пребывания</td>
                              <td>• С объявленной ценностью при его пересылке с описью вложения (подпись заявителя должна быть засвидетельствована нотариально)<p></p>• К пакету документов (см.выше) прикладывается копия доверенности представителя<br></td>
                              <td>• Передаем пакет документов нотариусу<p></p>• Нотариус направляет представленные документы Налоговую инспекцию в форме электронных документов, подписанных усиленной квалифицированной электронной подписью нотариуса<br></td>
                        </tr>
                    </table>
                </p>
        </div>
        <a class="close-reveal-modal" href = "#"><h1>×</h1></a>
    </ul>
{% endblock %}
    </main>
</body>

